@font-face {
  font-family: TTNorms-Bold;
  src: url("TTNorms-Bold.otf");
  }

.btn-responsive{
  position:absolute ;
  top: 10%;
  right: 2%;
  background:#ffffff;
  width: 40px;
  height: 45px;
  cursor: pointer;
}

.btn-icon{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
}

.btn-icon span{
  display: block;
  height: 5px;
  width: 100%;
  background: rgba(0,0,0,0.8);
  transition: .35s ease-in-out;
}

.btn-icon span:nth-child(1){
}
.btn-icon span:nth-child(2){
}
.btn-icon span:nth-child(3){
}

.open .btn-icon span:nth-child(1){
  transform: translateY(12px) rotate(315deg);
}
.open .btn-icon span:nth-child(2){
  width: 0;
  left: 50%;
}
.open .btn-icon span:nth-child(3){
  transform:translateY(-16px) rotate(-315deg);
}

.nav-list{
  position: absolute;
  box-sizing:border-box;
  top:50px;
  width:100%;
  height:auto;
  margin:0;
  background:#4c81e9;
}

header ul {
  padding-left: 0;
}

header .nav-list li {
  list-style: none;
}

header .nav-list li a {
  font-weight: bold;
  text-decoration: none;
  padding: 15px 0;
  display: block;
  color: white;
  border-bottom: 2px solid white;
  text-align: center;
}

header .navigation {
  display: none;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  /* background: #eee; */
  color: #333;
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

/* ヘッダー */
header {
  width:100%;
  background:#ffffff;
  padding-top: 20px;
}
header .header-image {
  text-align: center;
}
/* ロゴの大きさ */
header .header-image img {
  width: 40%;
}
/* ヘッダーメニュー */
.header-menus .header-menu {
  margin-top: 20px;
}
.header-menus .header-menu ul {
  width: 60%;
  display: flex;
  padding-left: 0;
  margin: 0 auto;
  justify-content: space-between;
}
.header-menus .header-menu ul li {
  width: 10%;
  list-style: none;
  text-align: center;
}
.header-menus .header-menu ul li a {
  position: relative;
  color: black;
  font-weight: 700;
  /* font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana; */
  font-family: "TTNorms-Bold","Koburina Gothic W3 JIS2004";
  text-decoration: none;
  padding: 15px 0 5px 0;
  display: block;
}
.header-menus .header-menu ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: #aacd03;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .5s;
}
.header-menus .header-menu ul li a:hover::after {
  transform: scale(1, 1);
}
/* ここまで一緒 */


/* ここからは変えない */
.line {
  border: 1px solid black;
  margin-bottom: 20px;
}

/* フッター */
/* フッター全体 */
.footer-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: black;
}
/* フッターメニューリスト */
.footer-container .footer-menu {
  width: 25%;
  margin: 0 auto;
}
/* メニュー名の位置 */
.footer-container .footer-menu .footer-menu-name {
  text-align: center;
  border-bottom: 1px solid black;
}
.footer-container .footer-menu h6 {
  font-weight: 700;
}
/* メニューの位置 */
.footer-container .footer-menu ul {
  padding-top: 20px;
  padding-left: 40%;
}
/* 各メニューの装飾 */
.footer-container .footer-menu ul li {
  list-style: none;
  padding-bottom: 10px;
}

.footer-container .footer-menu ul li a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}
.footer-container .footer-menu ul li a:hover {
  opacity: 0.5;
}

/* フッタースポンサー */
.footer-container .sponser {
  width: 30%;
  margin: 0 auto;
}

/* スポンサーロゴの大きさや位置など */
.footer-container .sponser img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.footer-container .sponser .nissui, .kitada, .blooming-logo {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

/* フッターフェイスブック */
.footer-container .facebook {
  width: 30%;
  margin: 0 auto;
}

.facebook-tag {
  padding-top: 20px;
}

.copyright {
  text-align: center;
  color: #fff;
  background-color: #000;
}
