.btn-responsive{
  position:absolute ;
  top: 10%;
  right: 2%;
  background:#ffffff;
  width: 40px;
  height: 45px;
  cursor: pointer;
}

.btn-icon{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
}

.btn-icon span{
  display: block;
  height: 5px;
  width: 100%;
  background: rgba(0,0,0,0.8);
  transition: .35s ease-in-out;
}

.btn-icon span:nth-child(1){
}
.btn-icon span:nth-child(2){
}
.btn-icon span:nth-child(3){
}

.open .btn-icon span:nth-child(1){
  transform: translateY(12px) rotate(315deg);
}
.open .btn-icon span:nth-child(2){
  width: 0;
  left: 50%;
}
.open .btn-icon span:nth-child(3){
  transform:translateY(-16px) rotate(-315deg);
}

.nav-list{
  position: absolute;
  box-sizing:border-box;
  top:50px;
  width:100%;
  height:auto;
  margin:0;
  background:#4c81e9;
}

header ul {
  padding-left: 0;
}

header .nav-list li {
  list-style: none;
}

header .nav-list li a {
  font-weight: bold;
  text-decoration: none;
  padding: 15px 0;
  display: block;
  color: white;
  border-bottom: 2px solid white;
  text-align: center;
}

header .navigation {
  display: none;
}

body {
  /* font-family: Verdana, Arial, Helvetica, meirio, メイリオ, "Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4", Osaka, "ＭＳ Ｐゴシック", sans-serif; */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  /* background: #eee; */
  color: #333;
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

/* ヘッダー */
header {
  width:100%;
  background:#ffffff;
  padding-top: 20px;
}
header .header-image {
  text-align: center;
}
/* ロゴの大きさ */
header .header-image img {
  width: 40%;
}
/* ヘッダーメニュー */
.header-menus .header-menu {
  margin-top: 20px;
}
.header-menus .header-menu ul {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}
.header-menus .header-menu ul li {
  width: 12.5%;
  list-style: none;
  text-align: center;
}
.header-menus .header-menu ul li a {
  position: relative;
  color: black;
  font-weight: 700;
  font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
  text-decoration: none;
  padding: 15px 0;
  display: block;
}
.header-menus .header-menu ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: #aacd03;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .5s;
}
.header-menus .header-menu ul li a:hover::after {
  transform: scale(1, 1);
}

/* スライド背景 */
#special-event-pic {
  width: 100%;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: url("../event/blulab-pic3.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -mox-background-size: cover;
  -o-background-size: cover;
  position: relative;
  top: 0.5vh;
}

#regular-event-pic {
  width: 100%;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: url("../event/blulab-pic3.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -mox-background-size: cover;
  -o-background-size: cover;
}

#special-event-pic h1,
#regular-event-pic h1 {
  text-transform: uppercase;
  font-family: 'Bitter', serif;
  letter-spacing: 0.06em;
  font-size: calc(5.4rem + ((1vw - 0.64rem) * 2.1429));
  color: #fff;
  text-align: center;
  margin-top: 10vh;
  padding: 5vw 10vw;
  background-color: rgba(0, 0, 0, 0.6);
  min-width: 500px;
}

/*シングルイベント*/
.singleEvent {
  background: #f7f7f7;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.blog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
  -webkit-box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.blog-card a {
  color: inherit;
}

.blog-card a:hover {
  color: #5ad67d;
}

.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}

.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}

.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  -webkit-transition: left .2s;
  transition: left .2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: .9rem;
}

.blog-card .details a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}

.blog-card .details ul li {
  display: inline-block;
}

/* .blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f007";
} */

.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f133";
}

.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "\f02b";
  margin-right: 10px;
}

.blog-card .details .tags li {
  margin-right: 2px;
}

.blog-card .details .tags li:first-child {
  margin-left: -4px;
}

.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}

.blog-card .description h1,
.blog-card .description h2 {
  font-weight: bold;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}

.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}

.blog-card .description .read-more {
  text-align: right;
}

.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  -webkit-transition: margin .3s, opacity .3s;
  transition: margin .3s, opacity .3s;
}

.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}

.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}

.blog-card p:first-of-type {
  margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}

.blog-card:hover .details {
  left: 0%;
}

.ribbon {
  position: absolute;
  z-index: 9999;
  display: block;
  width: 48px;
  height: 60px;
  text-align: center;
  font-weight: 600;
  color: #fff;
}
.ribbon .fontem {
  font-size: 1.5em;
}

.ribbon-left{
  left: 2rem;
}

.ribbon-right {
  right: 2rem;
}

.ribbon:after {
  position: absolute;
  bottom: -8px;
  right: 0;
  content: "";
  border-bottom-width: 8px;
  -webkit-transform: scale(1.0001);
  -moz-transform: scale(1.0001);
}

.ribbon:after {
  border: 24px solid transparent;
  border-top: none;
  border-bottom-width: 8px;
  border-left-color: #FE453E;
  border-right-color: #FE453E;
}
.ribbon {
  background: #FE453E;
}

/* レギュラーイベント */
.regular-event-content {
  width: 100%;
}
.regular-event-content h4 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  color: black;
  border-bottom: 2px solid black;
  width: 60%;
  margin: 0 auto 20px auto;
}
.regular-event {
  width: 80%;
  margin: 40px auto 30px auto;
}

.regular-event-content .regular-event .card-deck .card-shadow:hover {
  box-shadow: 0px 0px 6px gray;
  transition: .5s;
}

/* ここからは変えない */
.line {
  border: 1px solid black;
  margin-bottom: 20px;
}

/* フッター */
/* フッター全体 */
.footer-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: black;
}
/* フッターメニューリスト */
.footer-container .footer-menu {
  width: 25%;
  margin: 0 auto;
}
/* メニュー名の位置 */
.footer-container .footer-menu .footer-menu-name {
  text-align: center;
  border-bottom: 1px solid black;
}
.footer-container .footer-menu h6 {
  font-weight: 700;
}
/* メニューの位置 */
.footer-container .footer-menu ul {
  padding-top: 20px;
  padding-left: 40%;
}
/* 各メニューの装飾 */
.footer-container .footer-menu ul li {
  list-style: none;
  padding-bottom: 10px;
}

.footer-container .footer-menu ul li a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}
.footer-container .footer-menu ul li a:hover {
  opacity: 0.5;
}

/* フッタースポンサー */
.footer-container .sponser {
  width: 30%;
  margin: 0 auto;
}

/* スポンサーロゴの大きさや位置など */
.footer-container .sponser img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.footer-container .sponser .nissui, .kitada, .blooming-logo {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

/* フッターフェイスブック */
.footer-container .facebook {
  width: 30%;
  margin: 0 auto;
}

.facebook-tag {
  padding-top: 20px;
}

.copyright {
  text-align: center;
  color: #fff;
  background-color: #000;
}
