@font-face {
  font-family: TTNorms-Bold;
  src: url("TTNorms-Bold.otf");
  }

.btn-responsive{
  position:absolute ;
  top: 10%;
  right: 2%;
  background:#ffffff;
  width: 40px;
  height: 45px;
  cursor: pointer;
}

.btn-icon{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
}

.btn-icon span{
  display: block;
  height: 5px;
  width: 100%;
  background: rgba(0,0,0,0.8);
  transition: .35s ease-in-out;
}

.btn-icon span:nth-child(1){
}
.btn-icon span:nth-child(2){
}
.btn-icon span:nth-child(3){
}

.open .btn-icon span:nth-child(1){
  transform: translateY(12px) rotate(315deg);
}
.open .btn-icon span:nth-child(2){
  width: 0;
  left: 50%;
}
.open .btn-icon span:nth-child(3){
  transform:translateY(-16px) rotate(-315deg);
}

.nav-list{
  position: absolute;
  box-sizing:border-box;
  top:50px;
  width:100%;
  height:auto;
  margin:0;
  background:#4c81e9;
}

header ul {
  padding-left: 0;
}

header .nav-list li {
  list-style: none;
}

header .nav-list li a {
  font-weight: bold;
  text-decoration: none;
  padding: 15px 0;
  display: block;
  color: white;
  border-bottom: 2px solid white;
  text-align: center;
}

header .navigation {
  display: none;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  /* background: #eee; */
  color: #333;
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

/* ヘッダー */
header {
  width:100%;
  background:#ffffff;
  padding-top: 20px;
}
header .header-image {
  text-align: center;
}
/* ロゴの大きさ */
header .header-image img {
  width: 40%;
}
/* ヘッダーメニュー */
.header-menus .header-menu {
  margin-top: 20px;
}
.header-menus .header-menu ul {
  width: 60%;
  display: flex;
  padding-left: 0;
  margin: 0 auto;
  justify-content: space-between;
}
.header-menus .header-menu ul li {
  width: 10%;
  list-style: none;
  text-align: center;
}
.header-menus .header-menu ul li a {
  position: relative;
  color: black;
  font-weight: 700;
  /* font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana; */
  font-family: "TTNorms-Bold","Koburina Gothic W3 JIS2004";
  text-decoration: none;
  padding: 15px 0 5px 0;
  display: block;
}
.header-menus .header-menu ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: #aacd03;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .5s;
}
.header-menus .header-menu ul li a:hover::after {
  transform: scale(1, 1);
}

/* ここまで変えない */

/* スライドショー部分の背景 */
.background-slide-show {
  background-image: url("background-slideshow.png");
  background-repeat: repeat;
}

/* スライドショーの大きさ */
.slide-container {
  width: 70%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 23px;
}

/* サイト全体のカラー */
.backdround_color {
  background-color: #f3fdf0;
  width: 100%;
}

/* 新着ニュース */
.news-wrapper {
  width: 100%;
}
.news-wrapper h4 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  color: black;
  border-bottom: 2px solid black;
  width: 60%;
  margin: 0 auto;
}
.news-wrapper ul {
  padding-left: 0;
  margin: 30px auto 0 auto;
  width: 70%;
  height: 300px;
  overflow: scroll;
}
.news-wrapper ul li {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.news-wrapper ul li .news-content {
  margin: 0 auto;
  display: flex;
}
/* 新着ニュースのタグの大きさや色の指定 */
.news-wrapper ul li .news-content .news-content-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  padding: 2px 4px;
  border-radius: 4px;
}
.news-wrapper ul li .news-content .event-tag {
  background-color: #ffa1a1;
}
.news-wrapper ul li .news-content .media-tag {
  background-color: #a1e4ff;
}
.news-wrapper ul li .news-content .notice-tag {
  background-color: #fffda1;
}
/* ニュース内容の欄の幅の調整 */
.news-wrapper ul li .news-content a {
  width: 100%;
  margin-left: 20px;
}

/* レギュラーイベント */
.regular-event-content {
  width: 100%;
}
.regular-event-content h4 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  color: black;
  border-bottom: 2px solid black;
  width: 60%;
  margin: 0 auto 20px auto;
}
.regular-event {
  width: 80%;
  margin: 40px auto 30px auto;
}

.regular-event-content .regular-event .card-deck .card-shadow:hover {
  box-shadow: 0px 0px 6px gray;
  transition: .5s;
}

.line {
  border: 1px solid black;
  margin-bottom: 20px;
}

/* フッター */
/* フッター全体 */
.footer-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: black;
}
/* フッターメニューリスト */
.footer-container .footer-menu {
  width: 30%;
  margin: 0 auto;
}
/* メニュー名の位置 */
.footer-container .footer-menu .footer-menu-name {
  text-align: center;
  border-bottom: 1px solid black;
}
/* メニューの位置 */
.footer-container .footer-menu ul {
  padding-top: 20px;
  padding-left: 40%;
}
/* 各メニューの装飾 */
.footer-container .footer-menu ul li {
  list-style: none;
  padding-bottom: 10px;
}

.footer-container .footer-menu ul li a {
  color: black;
}

/* フッタースポンサー */
.footer-container .sponser {
  width: 30%;
  margin: 0 auto;
}

/* スポンサーロゴの大きさや位置など */
.footer-container .sponser img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.footer-container .sponser .nissui, .kitada, .blooming-logo {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

/* フッターフェイスブック */
.footer-container .facebook {
  width: 30%;
  margin: 0 auto;
}

.facebook-tag {
  padding-top: 20px;
}

.copyright {
  text-align: center;
  color: #fff;
  background-color: #000;
}
