/* フォントの適用 */
@font-face {
  font-family: TTNorms-Bold;
  src: url(../TTNorms-Bold.otf);
  }
/*　ハンバーガーメニューがPCで見えないように */
header .navigation {
  display: none;
}

/* 全体の調整 */
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: #333;
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ヘッダー */
header {
  width: 100%;
  background:#ffffff;
  padding-top: 20px;
}

/* ロゴ */
/* 位置 */
header .header-image {
  text-align: center;
  max-width: 100%;
}
/* 大きさ */
header .header-image img {
  width: 40%;
}


/* ヘッダーメニュー */
/* 位置 */
.header-menus .header-menu {
  margin-top: 20px;
}
.header-menus .header-menu ul {
  width: 60%;
  min-width: 700px;
  display: flex;
  padding-left: 0;
  margin: 0 auto;
  justify-content: space-between;
}
.header-menus .header-menu ul li {
  width: 10%;
  list-style: none;
  text-align: center;
}
.header-menus .header-menu ul li a {
  position: relative;
  color: black;
  font-weight: 700;
  font-family: "TTNorms-Bold","Koburina Gothic W3 JIS2004";
  text-decoration: none;
  padding: 15px 0 5px 0;
  display: block;
}
.header-menus .header-menu ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: #aacd03;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .5s;
}
.header-menus .header-menu ul li a:hover::after {
  transform: scale(1, 1);
}
/* ここまで共通 */

.formrun-embed iframe:nth-child(2){
  display: none!important;
}


/* ここから共通 */

/* 最後の線 */
.line {
  border: 1px solid black;
  margin-bottom: 20px;
}

.S-Sponser {
  display: none;
}

/* フッター */
/* 全体 */
footer {
  max-width: 100%;
}
.footer-container {
  width: 70%;
  min-width: 860px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: black;
  font-family: "TTNorms-Bold","Koburina Gothic W3 JIS2004";
}
/* メニュー */
/* リスト */
.footer-container .footer-menu {
  width: 30%;
  min-width: 200px;
  padding-right: 1.5rem;
  margin: 0 auto;
}
/* 位置 */
.footer-container .footer-menu .footer-menu-name {
  text-align: center;
  border-bottom: 1px solid black;
}
/* 位置２（笑） */
.footer-container .footer-menu ul {
  padding-top: 20px;
  padding-left: 20%;
}
/* 装飾 */
.footer-container .footer-menu ul li {
  list-style: none;
  padding-bottom: 10px;
}
.footer-container .footer-menu ul li a {
  color: black;
  transition: all 0.5s;
}
.footer-container .footer-menu ul li a:hover {
  text-decoration: none;
  opacity: 0.5;
}

/*　スポンサー */
/* 位置 */
.footer-container .sponser {
  width: 40%;
  margin: 0 auto;
  /* padding-right: 1rem; */
}
/* ロゴの大きさや位置など */
.footer-container .sponser img {
  max-width: 280px;
  max-height: 100%;
  min-width:220px;
  width: auto;
  height: auto;
}
.footer-container .sponser .nissui, .kitada, .blooming-logo {
  position: relative;
  width: 100%;
  height: auto;
}
.footer-container .sponser .kitada, .blooming-logo {
  margin-top: 20px;
}

/* フェイスブック */
.footer-container .facebook {
  margin: 0 auto;
  padding-right: 1.5rem;

}
.facebook-tag {
  /* padding-top: 20px; */
}

/* コピーライト */
.copyright {
  text-align: center;
  color: #fff;
  background-color: #000;
}
